<div class="container">
  <div class="row page-title">
    <h2>Apply</h2>
  </div>
</div>

<div class="container" id="employee">
  <div class="row">
    <div class="four columns">
      <%= image_tag('employment/bagging.jpg') %>
    </div>
    <div class="eight columns">
      <%= render "form" %>
    </div>
  </div>
</div>