<div class="container">
  <div class="row">

    <!-- Menu navigation -->
    <%= render 'navigation' %>

    <div class="nine columns">
      <h4>Wings</h4>

      <h5 class="menu-item-title">Hot & Spicy</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>7" Roll, Mozzarella, Meatball and Sauce</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Philly Cheese Steak</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>7" Roll, Cheddar Cheese, Philly Steak, Bell Peppers, Onions, Fresh Garlic and Olive Oil</p>
      </div>
      <div class="clearer"></div>

    </div>
  </div>
</div>