<!-- Main page to be used for anything that's relevant to a customer upon entering the site -->
<div id="owl-image-slider">
  <div class="item"><img src="http://i.imgur.com/IgJgnlc.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://i.imgur.com/6IwIBrB.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://i.imgur.com/771cPw8.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://i.imgur.com/vW9Gs1j.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://i.imgur.com/HyIoeVe.jpg" alt="Owl Image"></div>
</div>

<div class="container">
  <div class="row">
    <div class="home-text">
      <h2>CIAO</h2>
      <div id="taste-swf">
        <object data="<%= asset_path('taste.swf') %>" type="application/x-shockwave-flash" width="300" height="320" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer">
          <param name="movie" value="<%= asset_path('taste.swf') %>"/>
          <%= image_tag("taste.png") %>
        </object>
      </div>
      <p>Cenario's Pizza has been part of Solano County's history since 1986 when Alexander DiManno and his son Mario DiManno first opened their doors in Vacaville California, and to this day we are committed to delivering on their promise of a quality pizza at a great price. We are family owned and believe that staying family owned is the best way to do that.</p>
      <div id="taste-img"></div>
      <p> Our pizza dough is prepared fresh daily, our tomato sauce is made with fresh packed tomatoes and our own unique spice blend, our cheese is 100% real California Mozzarella, and we use only the best ingredients for our pizza toppings.</p>
      <p>At Cenario's Pizza, it is common to see smiles on both sides of the counter. Our customers love to be able to feed their family and at a reasonable price while receiving a Quality pizza. We want our pizza and our prices to impress you enough that you tell your friends and family about us. When customers do our advertising, we can concentrate on making a great pizza and give excellent service.</p>
      <p>At Cenario's, we WANT to be your NUMBER 1 CHOICE when ordering pizza. So when You think about Pizza, think Cenario's.</p>
    </div>
  </div>
</div>