<!-- Main page to be used for anything that's relevant to a new user upon entering the site -->
<div class="container page-title">
  <div class="row">
    <h2>Home</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="owl-image-slider">
      <div class="item"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Supreme_pizza.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://troppa-nl.com/wp-content/uploads/2015/08/pizza-stock.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://www.starrspizza.net/uploads/1/4/4/1/14417018/9990048_orig.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://parkhillpizza.com/includes/img/pizza2.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://www.thepizzahouse76.com/resources/pizzaslice.jpg" alt="Owl Image"></div>
    </div>
  </div>
</div>