<!-- Main page to be used for anything that's relevant to a new user upon entering the site -->

<div class="row">
  <div class="two-thirds column">
    <div id="owl-image-slider">
      <div class="item"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Supreme_pizza.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://troppa-nl.com/wp-content/uploads/2015/08/pizza-stock.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://www.starrspizza.net/uploads/1/4/4/1/14417018/9990048_orig.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://parkhillpizza.com/includes/img/pizza2.jpg" alt="Owl Image"></div>
      <div class="item"><img src="http://www.thepizzahouse76.com/resources/pizzaslice.jpg" alt="Owl Image"></div>
    </div>
  </div>
  <div class="one-third column">
    <%= button_to "Order Now!", locations_path, class: "button", method: :get %>
    <p>Cenario's Pizza has been part of Solano County's history since 1986 when Alexander DiManno and his son Mario DiManno first opened their doors in Vacaville California, and to this day we are committed to delivering on their promise of a quality pizza at a great price. We are family owned and believe that staying family owned is the best way to do that.</p>
  </div>
</div>