<div class="container">
  <div class="row page-title">
    <h2>Locations</h2>
  </div>

  <!-- <iframe height="450" frameborder="3" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgTdnThYUhYARnL2DURnH-Os&key=AIzaSyA5rDNAy6w3iebwwuAEcGUD7A-eF4eMdlU" allowfullscreen></iframe>
</div> -->
  <div id="locations">
    <div class="row">
      <div class="four columns">
        <h6>Cenarios Pizza of Vacaville</h6>
        <p>1490 Alamo Dr. Suite D</p>
        <p>Vacaville, CA 95687</p>
      </div>
      <div class="three columns">
        <strong>Hours:</strong>
        <p>Mon-Sun: 11am-10pm</p>
      </div>
      <div class="two columns">
        <strong>Phone:</strong>
        <p>707-449-1900</p>
      </div>
      <div class="three columns">
        <a href="https://cenarios-vacaville.foodtecsolutions.com:9443/">
          <div class="order-type-button">
            <p>Order Online</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <h6>Cenarios Pizza of Fairfield</h6>
        <p>1955 W. Texas Suite 9</p>
        <p>Fairfield, CA 94533</p>
      </div>
      <div class="three columns">
        <strong>Hours:</strong>
        <p>Sun-Thur: 11am</p>
      </div>
      <div class="three columns">
        <strong>Phone:</strong>
        <p>707-425-1000</p>
      </div>
      <div class="three columns">
        <a href="https://cenarios-fairfield.foodtecsolutions.com:9443/">
          <div class="order-type-button">
            <p>Order Online</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <h6>Cenarios Pizza of Davis</h6>
        <p>1300 Covell Suite B</p>
        <p>Davis, CA 95616</p>
      </div>
      <div class="three columns">
        <strong>Hours:</strong>
        <p>Sun-Thur: 11am</p>
      </div>
      <div class="three columns">
        <strong>Phone:</strong>
        <p>530-759-1100</p>
      </div>
      <div class="three columns">
        <a href="https://cenarios-davis.foodtecsolutions.com/menu">
          <div class="order-type-button">
            <p>Order Online</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <h6>Cenarios Pizza of Dixon</h6>
        <p>1160 Pitt School Rd. Suite G</p>
        <p>Dixon, CA 95620</p>
      </div>
      <div class="three columns">
        <strong>Hours:</strong>
        <p>Sun-Thur: 11am</p>
      </div>
      <div class="three columns">
        <strong>Phone:</strong>
        <p>707-693-1100</p>
      </div>
      <div class="three columns">
        <a href="https://cenarios-dixon.foodtecsolutions.com/menu">
          <div class="order-type-button">
            <p>Order Online</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <h6>Cenarios Pizza of Cordelia</h6>
        <p>364 Pittman Rd. #1</p>
        <p>Fairfield, CA 94534</p>
      </div>
      <div class="three columns">
        <strong>Hours:</strong>
        <p>Sun-Thur: 11am</p>
      </div>
      <div class="three columns">
        <strong>Phone:</strong>
        <p>707-864-6400</p>
      </div>
      <div class="three columns">
        <a href="https://cenarios-suisun.foodtecsolutions.com:9443/">
          <div class="order-type-button">
            <p>Order Online</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>