<div class="container page-title">
  <div class="row">
    <h2>Locations</h2>
  </div>
</div>

<p>
<div class="container">
  <div class="row">
    <div class="four columns google-maps">
      <iframe height="450" frameborder="3" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgTdnThYUhYARnL2DURnH-Os&key=AIzaSyA5rDNAy6w3iebwwuAEcGUD7A-eF4eMdlU" allowfullscreen></iframe>
    </div>
    <div class="eight columns location-select">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Location</th>
            <th>City</th>
            <th>Phone</th>
            <th>Order Online</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cenarios of Fairfield</td>
            <td>Fairfield</td>
            <td>707-449-4400</td>
            <td><button class="button">Order Online</button></td>
          </tr>
          <tr>
            <td>Cenarios of Vacaville</td>
            <td>Vacaville</td>
            <td>707-449-1900</td>
            <td><button class="button">Order Online</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>