<div class="container">
  <div class="row">
    <h2>Locations</h2>
    <div class="google-maps">
      <iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgTdnThYUhYARnL2DURnH-Os&key=AIzaSyA5rDNAy6w3iebwwuAEcGUD7A-eF4eMdlU" allowfullscreen></iframe>
    </div>
  </div>
</div>