<div class="container">
  <div class="row page-title">
    <h2>Order by...</h2>
  </div>
  <div class="row order-type">
    <div class="six columns phone">
      <div class="order-type-button">
        <h4>Phone</h4>
        <%= image_tag("telephone.svg") %>
      </div>
    </div>
    <div class="six columns online">
      <div class="order-type-button">
        <h4>Online</h4>
        <%= image_tag("notebook-and-mouse-cursor.svg") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="order">
      
    </div>
  </div>
</div>