.logo-image {
  width: 150px;
}

.buttons-offset {
  margin-top: 100px;
}

.top-accent {
  height: 7px;
  background-color: #008349;
  border-color: black;
}

.app-layout-header {
  
}

.app-layout-yield {
  background-color: #008349;
}