html {
  background-color: #009955;
}

.logo-image {
  width: 150px;
}

.buttons-offset {
  margin-top: 100px;
}

.top-accent {
  height: 7px;
  background-color: #008349;
  border-color: black;
}

.app-layout-header {
  background-color: white;
}

.app-layout-yield {
  background-color: #008349;
}

.app-layout-footer {
  background-color: #009955;
}

#footer p {
  text-align: center;
  padding-top: 2rem;
  font-size: 85%;
}

.google-maps {
  
}

.location-select {
  background-color: #00b363;
  border-radius: 25px;
  padding: 10px;
}

form > input.button {
  background-color: white;
}

td > form {
  display: inline;
}

.page-title {
  text-align: left;
  padding-top: 2rem;
}

.alert {
  margin: 1rem 0rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: white;
}

.alert-success {
  color: #008349;
}

.alert-error {
  color: red;
}

section.app-layout-yield > div.container:first-child {
  height: 0.5rem;
}

/* START menu styles */

ul.menu-nav {
  list-style-type: none;
  overflow: hidden;
}

ul.menu-nav li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #333;
}

ul.menu-nav li a:hover {
  font-weight: bold;
}

h6.menu-item-title {
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 2rem;
}

.menu-item-container {
  display: block;
  background-color: #bbb;
  margin-bottom: 4%;
}

/* END Menu styles */