html {
  background-color: #009955;
}

.logo-image {
  width: 150px;
}

.buttons-offset {
  margin-top: 100px;
}

.top-accent {
  height: 7px;
  background-color: #008349;
  border-color: black;
}

.app-layout-header {
  background-color: white;
}

.app-layout-yield {
  background-color: #008349;
}

.app-layout-footer {
  background-color: #009955;
}

#footer .container .row p {
  text-align: center;
  padding-top: 2rem;
}

.google-maps {
  
}

.location-select {
  background-color: #00b363;
  border-radius: 25px;
  padding: 10px;
}

form > input.button {
  background-color: white;
}

td > form {
  display: inline;
}

.page-title {
  text-align: left;
  padding-top: 2rem;
}

.alert {
  margin: 1rem 0rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: white;
}

.alert-success {
  color: #008349;
}

.alert-error {
  color: red;
}

section.app-layout-yield > div.container:first-child {
  height: 0.5rem;
}