/* GENERAL STYLES */
body {
  background-color: black;
}
html {
  position: relative;
  min-height: 100%;
}

h5, h4, h2 {
  color: white;
}

p {
  color: white;
}

#wrap {
  overflow: hidden;
}

/* FOOTER STYLES */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #404040;
  clear: both;
}

.footer-block div:first-child ul {
  list-style: none;
}

.footer-block div:first-child a {
  color: white;
}

.footer-block {
  padding-top: 35px;
}

.footer-block p {
  padding: 0;
  margin: 0;
}

.footer-block div {
  text-align: justify;
}

.copyright {
  text-align: center;
  padding-top: 2rem;
  font-size: 85%;
  color: white;
}
/* END FOOTER STYLES */

/* END GENERAL STYLES*/

div#taste-swf {
  float: right;
  margin-left: 2rem;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    div#taste-swf {
      display: none;
    }
  }

.home-text h5 {
  text-align: justify;
}

form > input.button {
  background-color: white;
}

td > form {
  display: inline;
}

.page-title {
  text-align: center;
  padding-top: 2rem;
}

.alert {
  margin: 1rem 0rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: white;
}

.alert-success {
  color: #008349;
}

.alert-error {
  color: red;
}

#app-layout-yield > .container:first-child {
  height: 0.5rem;
}