/* GENERAL STYLES */
html {
  background-color: black;
}

h5, h4, h2 {
  color: white;
}

p {
  color: white;
}
/* END GENERAL STYLES*/

/* ORDER NOW STYLES */

div.order-now-button a {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:2rem;
	font-weight:bold;
  width: 66.666%;
	padding-top:9px;
  padding-bottom:9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
  text-align: center;
}
div.order-now-button a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
  color: white;
}
div.order-now-button a:active {
	position:relative;
	top:1px;
}
/* END ORDER NOW STYLES */

/* NAVIGATION BAR */
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 85px;
  background-color: grey;
  opacity: 0.85;
}

.app-layout-yield {
  position: relative;
  padding-top: 80px;
}

.nav div.seven {
  margin-left: 0;
  height: 100%;
}

.nav .seven > div {
  width: 24.5%;
  height: 100%;
  margin: auto;
  display: inline-block;
  text-align: center;
}

.nav span {
  line-height: 85px;
  vertical-align: middle;
}

.nav a {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}

.nav a:hover {
  color: black;
}

.nav img {
  width: 75%;
  float: right;
}

/*
div.nav-buttons {
  padding-top: 8rem;
}
.nav-buttons a:hover {
  color: white;
}
*/
/* END NAVIGATION BAR */

div#taste-swf {
  float: right;
  margin-left: 2rem;
}

.home-text p {
  text-align: justify;
}

#footer p {
  text-align: center;
  padding-top: 2rem;
  font-size: 85%;
  color: white;
}

form > input.button {
  background-color: white;
}

td > form {
  display: inline;
}

.page-title {
  text-align: center;
  padding-top: 2rem;
}

.alert {
  margin: 1rem 0rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: white;
}

.alert-success {
  color: #008349;
}

.alert-error {
  color: red;
}

section.app-layout-yield > div.container:first-child {
  height: 0.5rem;
}