/* GENERAL STYLES */
html {
  background-color: black;
}

h5, h4, h2 {
  color: white;
}

p {
  color: white;
}

/* FOOTER STYLES */
#footer {
  position: relative;
  top: 35px;
  background-color: #404040;
}

#footer p:last-child {
  text-align: center;
  padding-top: 2rem;
  font-size: 85%;
  color: white;
}

.footer-block {
  padding-top: 35px;
}

.footer-block p {
  padding-top: 0px;
}

.footer-block div {
  text-align: center;
}
/* END FOOTER STYLES */

/* END GENERAL STYLES*/

div#taste-swf {
  float: right;
  margin-left: 2rem;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    div#taste-swf {
      display: none;
    }
  }

.home-text p {
  text-align: justify;
}

.divider {
  width: 100%;
  height: 4px;
  background-color: #f5e9c4;
  position: relative;
  top: -6px;
}

form > input.button {
  background-color: white;
}

td > form {
  display: inline;
}

.page-title {
  text-align: center;
  padding-top: 2rem;
}

.alert {
  margin: 1rem 0rem;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: white;
}

.alert-success {
  color: #008349;
}

.alert-error {
  color: red;
}

section.app-layout-yield > div.container:first-child {
  height: 0.5rem;
}