// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#employee {
  img {
    width: 100%;
  }
  .item {
    padding-bottom: 5px;
  }
  li {
    color: white;
  }
  .form-i {
    display: inline-block;
    margin-left: 5px;
  }
  .form-group {
    label {
      margin: 0;
      margin-bottom: 2px;
      color: white;
      font-size: 1.3rem;
    }
    input, select {
      padding: 3px;
      display: inline;
      height: 100%;
    }
  }
}