// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#employee {
  img {
    width: 100%;
  }
  .form-group-h {
    label {
      display: block;
      margin: 0;
    }
    input {
      display: inline;
      height: 100%;
    }
  }
  
  
  
}