// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-nav ul {
  list-style-type: none;
  overflow: hidden;
  margin-top: 4rem;
  position: fixed;
  top: 65px;
}

.menu-nav li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 1.65rem;
}

.menu-nav li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-nav li:hover {
  -ms-transform: translate(6px,0); /* IE 9 */
  -webkit-transform: translate(6px,0); /* Safari */
  transform: translate(6px,0);
}

h5.menu-item-title {
  margin-left: 1rem;
  padding-top: 2rem;
  clear: both;
}

div h4 {
  font-weight: bold;
  margin-top: 4%;
}

div.menu-item-container {
  margin-bottom: 4%;
}

div.menu-item-container img {
  float: left;
  max-width: 40%;
  width: auto;
}

div.menu-item-container p {
  padding-left: 4%;
  overflow: auto;
  font-size: 1.7rem;
}

.clearer {
  clear: both;
}