/* ORDER NOW STYLES */

div.order-now-button a {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:2rem;
	font-weight:bold;
  width: 66.666%;
	padding-top:9px;
  padding-bottom:9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
  text-align: center;
}
div.order-now-button a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
  color: white;
}
div.order-now-button a:active {
	position:relative;
	top:1px;
}
/* END ORDER NOW STYLES */

/* NAVIGATION BAR */
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 65px;
  background-color: #404040;
}

nav {
  float: right;
}

#logo img {
	float: left;
	display: block;
  width: 120px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
}

a:hover#menu-icon {
	background-color: white;
	border-radius: 4px 4px 0 0;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  float: left;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
  .order-now-button {
    display: none;
  }
  
	#menu-icon {
		display:inline-block;
	}
  
  nav {
    padding-top: 15px;
    padding-right: 15px;
  }

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
}

/* all other above phone size */
@media only screen and (min-width : 1025px) {
  nav ul, nav li {
    height: 100%;
    margin-bottom: 0;
  }
  
  nav {
    width: 80%;
  }

  nav ul {
    line-height: 65px;
  }

  nav li {
    padding: 0;
    text-align: center;
    width: 24.999%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  nav a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  #menu-icon {
    display: none;
    width: 40px;
    height: 40px;
  }

  a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
  }

  nav li:hover {
    background-color: black;
    cursor: pointer;
  }

  nav li:active {
    position: relative;
    top: 3px;
  }

  nav li:hover a {
    color: #96979B;
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    text-decoration: underline;
  }
}

.app-layout-yield {
  position: relative;
  padding-top: 60px;
}

/* END NAVIGATION BAR */