$table: #EAB574;
$outer-plate: #EAEAEA;
$inner-plate: #D7D7D7;
$crust: #773C21;
$cheese: #FF872D;
$pep: #9C2E0D;

.top {
  top: 150px;
}

.dn {
  display: none;
}

.plate {
  position: absolute;
  top: 15px;
}

.outer-plate {
  border: 90px solid $outer-plate;
  border-radius: 50%;
  position: absolute;  
}

.inner-plate {
  border: 70px solid $inner-plate;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: 20px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.slice {
  .crust {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 75px solid $crust;
    border-radius: 50%;
    position: absolute;
  }

  .cheese {
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 72px solid $cheese;
    border-radius: 50%;
    position: absolute;
    left: 56px;
  }
  
  .pep {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    border: 6.25px solid $pep;
  }
  
  .pep-half {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
  }
  
  .-right {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-34deg);
    border-left: 6.25px solid $pep;
    border-right: 6.25px solid transparent;
    border-top: 11.25px solid transparent;
  }
  
   .-left {
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    transform: rotate(34deg);
    border-left: 6.25px solid transparent;
    border-right: 6.25px solid $pep;
    border-top: 11.25px solid transparent;
   }
  
  .pep-one {  
    left: 64px;
    top: 18.75px;
  }

  .pep-two {
    left: 67.5px;
    top: 41.25px;
  }

  .pep-three {
    left: 50px;
    top: 31.25px;
  }
  
  .pep-four {
    left: 50px;
    top: 50px;
  }
  
  .pep-five {
    left: 82.5px;
    top: 61.25px;
  }
  
  .pep-six {
    left: 28.25px;
    top: 47.5px;
  }
  .pep-seven {
    left: 37.5px;
    top: 65px;
  }
  .pep-eight {
    left: 63.75px;
    top: 67.5px;
  }
}


@keyframes pizza-fall {
  0% {
    transform: translateY(-300%) scale(3);
  }
  50% {
    transform: skewX(2deg) skewY(2deg);
  }
  60% {
    transform: skewX(1.8deg) skewY(-1.8deg) translateY(-4%);
  }
  70% {
    transform: skewX(-1deg) skewY(0.7deg);
  }
  80% {
    transform: skewX(-0.4deg) skewY(-0.3deg) translateY(-1%);
  }
  90% {
    transform: skewX(0.2deg) skewY(0.2deg);
  }
  100% {
    transform: none;
  }
}

.animate .fall-1 {
  animation: pizza-fall 1s ease-in;
}

.animate .fall-2 {
  animation: pizza-fall .9s ease-in;
}

.animate .fall-3 {
  animation: pizza-fall .8s ease-in;
}

.animate .fall-4 {
  animation: pizza-fall .7s ease-in;
}

.animate .fall-5 {
  animation: pizza-fall .6s ease-in;
}

.animate .fall-6 {
  animation: pizza-fall .5s ease-in;
}
