.order-type-button {
  position: relative;
  text-align: center;
  width: 300px;
  margin: 10px auto;
  background-color: #404040;
  border: rgba(51,51,51,0.95) solid 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 0 rgba(51,51,51,0.95);
  -moz-box-shadow: 0 5px 0 rgba(51,51,51,0.95);
  box-shadow: 0 5px 0 rgba(51,51,51,0.95);
  cursor:pointer;
  transition: all .1s linear;
  text-shadow: 0px 1px 1px #4d4d4d;
  
  img {
    width: 50%;
  }
}

.order-type-button:active {
  transform: translateY(3px);
  -webkit-box-shadow: 0 2px 0 rgba(51,51,51,0.95);
  -moz-box-shadow: 0 2px 0 rgba(51,51,51,0.95);
  box-shadow: 0 2px 0 rgba(51,51,51,0.95);
}

.order {
  margin-top: 20px;
  display: none;
}

.phone {
  text-align: center;
  vertical-align: middle;
}

.phone p {
  line-height: 84px;
  font-size: 1.9rem;
}

.order h5,
.order p {
  padding: 0; margin: 0;
}

.order .order-type-button {
  padding: 5px 0;
  color: white;
  top: 10px;
}
@media only screen and (max-width : 1024px) {
  .order {
    .order-type-button {
      top: 0;
    }
    .six {
      text-align: center;
    }
    h5 {
      font-weight: bold;
    }
  }
  .phone { 
    p {
      line-height: 100%;
      margin-top: 3px;
      letter-spacing: 3px;
    }
    a > p {
      display: none;
    }
  }
}

@media only screen and (min-width : 1024px) {
  .order .phone .order-type-button {
    display: none;
  }
}

#view-menu {
  // Customize view menu button based on order-type-button
  height: 50px;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  font-size: 3rem;
  span {
    color: white;
  }
}

.order div.divider {
  width: 100%; height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
}