/* styles for home page image slider */

#owl-image-slider .item {
  margin: 1rem;
}

#owl-image-slider .item img {
  display: inline-block;
  width: auto;
  height: 275px;
  border: 3px;
  border-radius: 20px;
}