// Place all the styles related to the Specials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.special-img {
  width: 85%; height: auto;
  box-shadow: 7px 7px 5px #888888;
}

.special-box {
  margin-bottom: 50px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .special-box {
    margin-bottom: 15px;
  }
}